/TestResults
/CatService/App_Data
/CatService/bin
/CatService/obj
/CatService.ApiTests/obj
/CatService.ApiTests/bin
/*.user
/*.suo
/UnitTestProject
/CatService.BL/bin
/CatService.BL/obj
/CatService.DbAdministration/bin
/CatService.DbAdministration/obj
/CatService.Tests.Common/bin
/CatService.Tests.Common/obj
/CatService.Api.Tests/bin
/CatService.Api.Tests/obj
